[program:phd]
command=/usr/bin/pidproxy /var/tmp/phd/pid {{ phabricator_path }}/bin/phd restart
user=phd
autostart=true
autorestart=true
stdout_logfile=/dev/stdout
stdout_logfile_maxbytes=0
stderr_logfile=/dev/stderr
stderr_logfile_maxbytes=0
